[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-registration-redux = "*"
django = "*"
django-on-heroku = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
