{% extends "base.html" %}

{% block content %}
<h1>Edit Record</h1>

<div class="control">
<form action="{% url 'edit_record' slug=habit.slug pk=record.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-field mt3">
    <label for="{{form.date.id_for_label}}">{{ form.date.label }}</label>
    <input class="input" type="text" name={{form.date.html_name}} id="record-date-input" value="{{record.date|date:"m/d/Y" }}">
    </div>
    <div class="form-field mt3">
    <label for="{{form.goal_number.id_for_label}}">{{form.goal_number.label }}</label>
    <input class="input" type="text" name={{form.goal_number.html_name}} id="record-goal_number-input" value="{{record.goal_number }}">
    </div>      
    <div class="mt3">
        <button class="button is-primary" type="submit">Save changes</button>
        </div>
        <div>
            <a href={% url 'habit_detail' habit.slug%} ></a><button class="button is-danger white" >Cancel</button></a>
            </div>
</form>


</div>
{% endblock %}